.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  padding: 8px 14px;
  text-transform: uppercase;
  user-select: none;
}

.primary {
  composes: btn;
  color: #fff;
  background-color: #00aeef;
  box-shadow: 0 4px 6px -2px #0076a3;
  top: 0;
  transition: all .15s;
}

.primary:hover {
  background-color: #0090c6;
  box-shadow: 0 4px 8px -2px #002c3b;
}

.primary:active {
  box-shadow: 0 2px 10px -1px #00597a;
  position: relative;
  top: 4px;
}

.disabled {
  composes: btn;
  color: #000;
  background-color: #fff;
  border-bottom-color: #d9d9d9;
  box-shadow: 0 1px 8px -2px #aaaaaa;
  top: 0;
  transition: all .15s;
}

.disabled:active {
  position: relative;
  top: 4px;
}

.disabled:focus {
  outline: 1px auto rgb(206, 57, 57);
}

.close {
  composes: btn;
  background: none;
  opacity: 1;
  transition: opacity .3s;
  position: absolute;
  right: 0;
}

.close:after,
.close:before {
  border-top: 2px solid #000;
  content:'';
  height: 20px;
  position: absolute;
  right: -8px;
  top: 7px;
  transform: rotate(-45deg);
  width: 20px;
}

.close:before {
  right:6px;
  transform: rotate(45deg);
}

.close:hover {
  opacity: .5;
}

.close:focus {
  outline: none;
}
